.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 10px auto;
    background: #E5E5E5;
    height: 45px;
}
.header::before{
    content: '';
	position: absolute;
	left: 10%; 
    bottom: 0;
	width: 80%;
	height: 1.5px;
	background-color: rgb(0, 0, 0);
    transition: width 0.35s
}
.header__left {
    margin-left: 10px;
}
.header__left-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 1px;
}
.header__right {
    display: flex;
    margin-right: 10px;
}
.header__right-addWord {
    margin-left: 10px;
}

a {
	position: relative;
    cursor: pointer;
}
.header__right a::before {
	content: '';
	position: absolute;
	left: 0; 
    bottom: -1px;
	width: 0;
	height: 1.5px;
	background-color: rgb(0, 0, 0);
    transition: width 0.35s
}
.header__right a:hover:before {
	width: 100%;
}
span {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.1px;
}
.Link {
    color: black;
}